<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="./css/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 

    </head>
    <body>
        <header>
            <div>
                <img src="./images/logo-mercado-liebre.svg" width="420" alt="Logo MercadoLiebre">
            </div><br>
            <div class="search">
                <input value="Busca productos, marcas">
                <p> </p>
                <i class="fas fa-search"></i>
            </div>

            <h4 class="tagline">
                <section>
                    <article><i class="fas fa-hand-holding-usd"></i>
                            <i>   </i>
                    <i> Comprá en cuotas y sin tarjeta de crédito</i>
                    </article>
                    </section>  
            </h4>
            <nav class="top-menu">
                <ul>
                    <li> <a href="#">Ofertas</a></li>
                    <li> <a href="#">Tiendas Oficiales</a></li>
                    <li> <a href="#">Vender</a></li>
                    <div>
                      <p></p><br>  
                    </div>
                    <li> <a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li> <a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li> <a href="#"> Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>

            </nav><br>
            
            <div class="burger-menu">
                <i class="fas fa-bars"> </i>
            </div>

            <div>
                <p></p><br>
            </div>

            <nav><img src="./images/img-home-banner.jpg" width="100%" alt="imagen del Home Banner"></nav>

        </header>
        <main>
            <section>
                <h2 class="Titulares"><strong>Basado en tu última visita </strong></h2><br>
                <article>
                    <img src="./images/img-cafetera-moulinex.jpg" width="360" alt="Imagen Cafetera Moulinex">
                    <p class="Precios">$6.770 </p>
                    <p>40% OFF </p>
                    <h3>Cafetera Moulinex </h3>
                </article><br>
                <article>
                    <img src="./images/img-macbook-pro-2019.jpg" width="360" alt="Imagen Macbook Pro 2019">
                    <p class="Precios">$230.000 </p>
                    <p>20% OFF </p>
                    <h3>MacBook Pro 2019 </h3>
                </article><br>
                <article>
                    <img src="./images/img-samsung-galaxy-s10.jpg" width="360" alt="imagen del Samsung Galaxy S10">
                    <p class="Precios">$70.500 </p>
                    <p>10% OFF </p>
                    <h3>Samsung Galaxy S10 </h3>
                </article><br>
                <article>
                    <img src="./images/img-tv-samsung-smart.jpg" width="360" alt="imagen del SmartTv Samsung 43">
                    <p class="Precios">$23.200 </p>
                    <p>5% OFF </p>
                    <h3>SmartTv Samsung 43" </h3>
                </article><br>
            </section>

            <section>
                <h2 class="Titulares"><strong>Sección de Ofertas </strong></h2>
                <article>
                    <img src="./images/img-cafetera-moulinex.jpg" width="360" alt="Imagen Cafetera Moulinex">
                    <p class="Precios">$6.770 </p>
                    <p>40% OFF </p>
                    <h3>Cafetera Moulinex </h3>
                </article><br>
                <article>
                    <img src="./images/img-macbook-pro-2019.jpg" width="360" alt="Imagen Macbook Pro 2019">
                    <p class="Precios">$230.000 </p>
                    <p>20% OFF </p>
                    <h3>MacBook Pro 2019 </h3>
                </article><br>
                <article>
                    <img src="./images/img-samsung-galaxy-s10.jpg" width="360" alt="imagen del Samsung Galaxy S10">
                    <p class="Precios">$70.500 </p>
                    <p>10% OFF </p>
                    <h3>Samsung Galaxy S10 </h3>
                </article><br>
                <article>
                    <img src="./images/img-tv-samsung-smart.jpg" width="360" alt="imagen del SmartTv Samsung 43">
                    <p class="Precios">$23.200 </p>
                    <p>5% OFF </p>
                    <h3>SmartTv Samsung 43" </h3>
                </article><br>
            </section>

            
        </main>
        <footer>

            <div>
                <p> </p><br>
            </div>
            
            <div>
                <i class="fas fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo </h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro! </p>
            </div>

            <div>
                <p> </p><br>
            </div>
            
            <div>
                <i class="fas fa-gift"></i>
                <h2>Envío gratis desde $ 2.500 </h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos. </p>
            </div>

            <div>
                <p> </p><br>
            </div>
            
            <div>
                <i class="fas fa-user-shield"></i>
                <h2>Seguridad, de principio a fin </h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@. </p>
            </div>

            <div>
                <p> </p><br>
            </div>
            
            <div>
                <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L. </h3>
            </div>

        </footer>

    </body>



</html>