<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="./css/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <script src="https://kit.font-awesome.com/e32b1dc814.js" crossorigin="anonymous"></script>

    </head>
    <body>

        <header>
            <div class="top-header">
                <div class="top-top-header">
                    <img class="logo" src="./images/logo-mercado-liebre.svg"  alt="Logo MercadoLiebre">
            
                    
                    <p class="search"><input value="Busca productos, marcas"> <i class="fas fa-search"></i></p>
                    
                </div>
                <div class="mid-top-header">
                    <h2 class="tagline">
                        
                        <i class="fas fa-hand-holding-usd"></i>
                
                        Comprá en cuotas y sin tarjeta de crédito
                    
                          
                    </h2>
                </div>
                <div class="bottom-top-header">
            
                    <div class="burger-menu">
                        <i class="fas fa-bars"> </i>
                    </div>
                </div>
            </div>

            <div class="bottom-header">
                <nav class="top-menu">
                    <ul>
                        <li> <a href="#">Ofertas</a></li>
                        <li> <a href="#">Tiendas Oficiales</a></li>
                        <li> <a href="#">Vender</a></li>
                    </ul>   
                </nav> 
                <nav class="bottom-menu">
                    <ul>       
                        <li> <a href="./register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                        <li> <a href="./login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li> <a href="#"> Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>
            </div>

            <div>
                <p></p><br>
            </div>

            <img class="banner" src="./images/img-home-banner.jpg" alt="imagen del Home Banner">

        </header>
        <main>
            <form action:"/register" method="POST">
                
                <div>
                    <label for="nombreapellido">Nombre y Appellido:</label>
                    <input type="text" id="nombreapellido" name="nombreapellido" required minlength="4">
                </div>

                <div>
                    <label for="nombreusuario">Nombre de usuari@:</label>
                    <input type="text" id="nombreusuario" name="nombreusuario" required minlength="7">
                </div>

                <div>
                    <label for="fechanacimiento">Fecha de Nacimiento:</label>
                    <input type="date" id="fechanacimiento" name="fechanacimiento" required>
                </div>

                <div>
                    <label for="domicilio">Domicilio:</label>
                    <input type="text" id="domicilio" name="domicilio">
                </div>

                <div>
                    <label for="interestransaccion">Quiere comprar o vender:</label>
                    <label><input type="radio" id="interestransaccion" name="interestransaccion" value="comprar">Comprar</label>
                    <label><input type="radio" id="interestransaccion" name="interestransaccion" value="vender">Vender</label>
                </div>

                <div>
                    <h4>Categorías de interés (puede elegir más de una):</h4>
                    <label for="Electro">Electro:</label>
                    <input type="checkbox" id="Electro" name="intereses" value="Electro">
                    <label for="Moda">Moda:</label>
                    <input type="checkbox" id="Moda" name="intereses" value="Moda">
                    <label for="Hogar">Hogar:</label>
                    <input type="checkbox" id="Hogar" name="intereses" value="Hogar">
                    <label for="Jugueteria">Jugueteria:</label>
                    <input type="checkbox" id="Jugueteria" name="intereses" value="Jugeteria">
                    <label for="VidaSana">Hogar:</label>
                    <input type="checkbox" id="VidaSana" name="intereses" value="VidaSana">
                </div>

                <div>
                    <label for="foto">Foto del usuario:</label>
                    <input type="file" id="foto" name="foto" accept=".jpg, .pic, .png">
                    
                </div>

                <div>
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required minlength="5">
                </div>

                <div>
                    <label for="confirmpassword">Confirmar contraseña:</label>
                    <input type="password" id="confirmpassword" name="confirmpassword" required minlength="5">
                </div>

                <div>
                    <button type="submit"> Enviar</button>
                </div>

                <div>
                    <button type="reset"> Borrar</button>
                </div>

            
            </form>

            
        </main>
        <footer>

            <div>
                <p> </p><br>
            </div>
            
            <div>
                <i class="fas fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo </h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro! </p>
            </div>

            <div>
                <p> </p><br>
            </div>
            
            <div>
                <i class="fas fa-gift"></i>
                <h2>Envío gratis desde $ 2.500 </h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos. </p>
            </div>

            <div>
                <p> </p><br>
            </div>
            
            <div>
                <i class="fas fa-user-shield"></i>
                <h2>Seguridad, de principio a fin </h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@. </p>
            </div>

            <div>
                <p> </p><br>
            </div>
            
            <div>
                <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L. </h3>
            </div>

        </footer>

    </body>



</html>

