
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    font-size: 16;
}

header {
    background-color: #EAC926;
    padding: 20px;
}
.top-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.top-top-header {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding-bottom: 5px;
}

.logo {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;}



input {
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 3px;
    color: #666;
    height: 25px;
    align-self: center;
    padding-bottom: 5px;
    padding-right: 10px;
    margin: 0px;
    }
.search i {
        background-color: white;
        width: 16px;
        height: 20px;
        margin: -20px;
        color: #666;
        border-left: gray solid 1px;
        border-radius: 3px;
    }
.tagline {
    padding-left: 5px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    margin-bottom: 5px;
    }


.burger-menu {
    
    margin: auto;
    display: flex;
    background-color:#1259C3 ;
    font-size: 20px;
    color:white;
    width: 22px;
    height: 22px;
    padding: 5px;
    
    border-radius:2px

    }

.bottom-header {
    display: none;
}

.banner {
    padding: 0px;
    width: 100vw;
}


main {
        background-color: #ebebeb;
    }

p {font-size: 12px;}


nav {font-size: 12px;}
article {margin-bottom: 10px;
    background-color: white;}

.descripcion{
    position: relative;
    border-top: 1px #ebebeb solid;
    padding: 15px;

}

img {
    width: 100%;
    padding: 0cm;
}

.descripcion i {
    position:absolute;
    right: 20px;
    top: -15px;
    color: green;
    border: solid green 1px;
    border-radius: 50%;
    padding: 5px;
    
}

.descripcion-flex {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.Precios {
    flex-grow: 30;
    font-size: 20px;
}

.Descuento {
    flex-grow: 70;
    color: green;
}

.Titulares {font-size: 24px;}
.Precios {font-size: 18px;}

footer {align-items: center;
        color: #666;
        background-color: white;
        text-align: center;
        size: 2em;
        }
footer h2 {
            font-size: 14px;
            font-weight: bold;}

footer i  {
    color: #054e9c;
    
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 1cm;
}

.copyright {
    font-size: 10px;
    font-weight: normal;
    text-align: left;
}


article h3 {
    display: none;
}

.top-menu {
    display: none;
}

@media (min-width: 361px){
    article h3 {display: initial;}
    article {box-shadow: 0px 0px 10px rgb(100, 100, 100);}
    .top-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .top-top-header {   
        max-width: 60%;    
    }
    .mid-top-header {   
        max-width: 40%;    
    }

    .logo {width: 20vw;}
    .search {width: 38vw;}
    .tagline {width: 38vw;}
    .bottom-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .bottom-menu {
        display: flex;
        flex-direction: row;
        margin-left: 0.5cm;
    }
    .top-menu {
        display: flex;
        flex-direction: row;
        margin-left: 0.5cm;
        }
    .bottom-menu ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding-left: 0cm;
            margin:0cm;
        }
        
    .top-menu ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 0cm;
        margin-right:0cm;
        }
    
    
    .bottom-menu ul li a {
        text-decoration: none;
        
    }
    .top-menu ul li a {
        text-decoration: none;
        
    }

    .bottom-menu ul li {
        
        margin: 10px;
    }
    .top-menu ul li {
        
        margin: 10px;
    }

    nav a {
        text-decoration: none;
        color: #222222 ;
        display: inline-block;
        padding: 5px 0px;
        font-size: 17px;
    }
    .burger-menu {display: none}
    
    
    .article-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }
    article {
        
        max-width: 48%;
        
    }
}

@media (min-width: 768px){
    .top-header {
        display:flex;
        flex-direction: row;
    }
    article h3 {display: initial;}
    article {box-shadow: 0px 0px 10px rgb(100, 100, 100);
    max-width: 24%;}
    .burger-menu {display: none}
    
}

