body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    font-size: 16;
}
.logo {
    width: 50%;
}
img {
    width: 100%;
}

header {
    background-color: #EAC926;
}

input {
    font-size: 16px;
    color: #666;
    width: 60%;}
.search i {
        background-color: white;
        width: 20px;
        height: 20px;
        border: black solid 1px;

    }
.tagline {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    }

.top-menu ul li {
    list-style-type: none;
    padding-left: 0cm;
}

.top-menu {
    margin-left: 0cm;
}

.top-menu ul li a {

    text-decoration: none;
}
.burger-menu {
    
    margin: auto;
    display: flex;
    background-color:#1259C3 ;
    font-size: 30px;
    color:white;
    width: 25px;
    height: 25px;
    padding: 8px;
    
    border-radius:5px

    }

main {
        background-color: #ebebeb;
        align-items: center;
        width: 90%;
    }

p {font-size: 12px;}
/* h4{font-size: 12px;} */

nav {font-size: 12px;}
article {margin-bottom: 10px;
    background-color: white;}

.descripcion{
    border-top: 1px #ebebeb solid;
    padding: 15px;

}

.descripcion i {
    color: green;
    border: solid green 1px;
    border-radius: 50%;
    padding: 5px;
    
}

.Titulares {font-size: 24px;}
.Precios {font-size: 18px;}

footer {align-items: center;
        color: #666;
        background-color: white;
        text-align: center;
        size: 2em;
        }
footer h2 {
            font-size: 14px;
            font-weight: bold;}

footer i  {
    color: #054e9c;
    
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 1cm;
}

.copyright {
    font-size: 10px;
    font-weight: normal;
    text-align: left;
}


article h3 {
    display: none;
}

.top-menu {
    display: none;
}

@media (min-width: 361px){
    article h3 {display: initial;}
    article {box-shadow: 0px 0px 10px rgb(100, 100, 100);}
    .top-menu {
        display: initial;
    }
}

@media (min-width: 769px){
    article h3 {display: initial;}
    article {box-shadow: 0px 0px 10px rgb(100, 100, 100);}
    .burger-menu {display: none}
}

